.container-home {
	display: flex;
	flex-direction: column;
	align-items: center;
  background-image: url(/images/star_bg.jpg);
  background-size: cover;
  color: white;
  text-shadow: 1.5px 1.5px 0 grey,
  -1px -1px 0 grey,  
   1px -1px 0 grey,
   -1px 1px 0 grey,
    1px 1px 0 grey;
}

.photo-of-the-week {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.photo-of-the-week img {
	margin: 10px 0;
	height: 70vh;
  transform: rotate(-90deg);
  border: 3px solid white;
}

.collection img {
  width: 25%;
}
